textarea {
  width: 80%;
  height: 20em;
  resize: none;
}

hr {
  border: none;
  height: 3px;
  background-color: black;
}

.photoInsertForm {
  margin-top: 50px;
}

.profileImgBoxs {
  margin-top: 20px;
}

#content {
  margin-top: 20px;
  margin-bottom: 30px;
}

#listBtn {
  margin-right: 85%;
  border-color: black;
  background-color: white;
  color: black;
}

#submitBtn {
  border-color: black;
  background-color: white;
  color: black;
}
