.join {
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.joinForm {
    padding-top: 100px;
    margin-top: 20%;
    margin-left: 40%;
    background-color: #d8d8d8;
    border-radius: 50%;
    width: 500px;
    height: 400px;
}
p {
    font-size: 12px;
}
